@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

.outerContainer{
    height: 100vh;
    width: 100vw;
    /* display: flex;  */
    /* flex-direction: column; */
    background-image: url("../public/images/orangebackground.svg");
    position: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.outerForm {
    width: 55vw;
    height: 70vh;
    border: solid thick #FFCCA5;
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    /* position: relative; 
    left: 580px; 
    top: 152px; */
    
}

.rightBlock {
    width: 55vw;
    position: relative;
    top: 80px; 
    left: 500px;
}

.addItems {
    height: 273px;
    padding-top: 50px; 
    margin: auto; 
}

.deleteItems {
    height: 273px;
    /* padding-left: 232px; */
    padding-top: 60px; 
    margin: auto;
}

.mainHeading {
    font-size: 45px;
    font-family: 'Noto Sans SC', sans-serif;
    text-align: right;
    margin-bottom: 30px;
    /* width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; */
}

.title {
    color: #874716;
    font-size: 25px;
    font-family: 'Noto Sans SC', sans-serif;
}

.searchBar{
    display: flex; 
    flex-direction: row;
    border-radius: 20px;
    width: 450px; 
    height: 50px;
    padding: 5px;
    border: solid thin #D37B38; 
    align-items: center;
    background-color: white;
}

.itemContainer{
    display: flex; 
    flex-direction: row;
    font-size: 12px;
    font-family: 'Noto Sans SC', sans-serif;
    height: 37px; 
    width: auto;
    padding: 5px;
    margin-top: 25px; 
    margin-right: 20px;
    border-radius: 15px;
    background-color: #FFC99F;
    align-items: center;

}

.items{
    display: flex; 
    flex-direction: row; 
}

.input{
    border: none;
    margin-left: 10px
}

.xButton{
    property: value !important;
    margin-left: 5px; 
    margin-right: 10px; 
    margin-top: auto;
    margin-bottom: auto;
}

.input:focus{
    outline:none;
}

.searchIcon {
    padding-left: 5px;
}

.ingredient{
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto; 
}

.nextButton{
    width: 25%;
    height: 10%;
    border: solid white thin;
    border-radius: 15px;
    font-size: 18px;
    margin-left: 70%;
    margin-bottom: 5%;
    
}
.tabGroup {
    width: 200px;
    height: 60px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    margin-left: 10px;
    height: 45px; 
}

.tab {
    height: 60px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-size: 18px;
    display: inline-block;
    background-color:#FFF5ED;
    border-radius: 10px 10px 0px 0px;
    border-top: solid thick #FFC99F;
    border-right: solid thick #FFC99F;
    border-left: solid thick #FFC99F;
    margin-right: 30px; 
    height: 45px;
    color: #D37B38;
    white-space: nowrap;
}