@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

.wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(to top, #FFC99F 0%, #FFC99F 100%);
    overflow: hidden;
  }
  
.wave {
    width: 1050px;
    height: 1025px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -520px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 50s infinite linear;
}

.wave2 {
    width: 1050px;
    height: 1025px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -520px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 50s infinite linear;
}

@keyframes wave {
from { transform: rotate(0deg);}
from { transform: rotate(360deg);}
}

.outerContainer{
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("../public/images/orangebackground.svg");
    position: fixed;
    background-repeat: no-repeat; 
    background-size: cover;  */
    /* width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(to top, #FFC99F 0%, #FFC99F 100%);
    overflow: hidden; */
}

.outerForm {
    width: 750px;
    height: 650px;
    border: solid thick #FFC99F;
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    position: absolute !important;
    background-color: white;
    z-index: 2;
}

.rightBlock {
    width: 750px;
    height: 650px;
    position: relative; 
    /* margin-top: 70px; */
    margin-left: auto;
    margin-right: auto; 

}

.addItems {
    height: 273px;
    padding-top: 50px; 
    margin: auto; 
}

.deleteItems {
    height: 273px;
    /* padding-left: 232px; */
    padding-top: 60px; 
    margin: auto;
}

/* .mainHeading {
    font-size: 30px;
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    /* width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
} */

.title {
    color: #874716;
    font-size: 25px;
    font-family: 'Noto Sans SC', sans-serif;
    margin-bottom: 20px;
}

.searchBar{
    display: flex; 
    flex-direction: row;
    border-radius: 20px;
    width: 450px; 
    height: 50px;
    padding: 5px;
    border: solid thin #D37B38; 
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}

.itemContainer{
    display: flex; 
    flex-direction: row;
    font-family: 'Noto Sans SC', sans-serif;
    height: 37px; 
    width: auto;
    padding: 5px;
    margin-top: 25px; 
    margin-right: 20px;
    border-radius: 15px;
    background-color: #FFC99F;
    align-items: center;

}

.itemContainerRem{
    display: flex; 
    flex-direction: row;
    font-family: 'Noto Sans SC', sans-serif;
    height: 37px; 
    width: auto;
    padding: 5px;
    margin-top: 25px; 
    margin-right: 20px;
    border-radius: 15px;
    background-color: #FFF5ED;
    align-items: center;

}

.items{
    display: flex; 
    flex-direction: row; 
    width: 450px;
    height: 100px; 
    flex: 1;
    flex-wrap: wrap;
    overflow: auto; 
    
}

.items::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

.items::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: white;
    background-image: linear-gradient(to top, #FFC99F 0%, #D37B38 100%);
  }

.input{
    border: none;
    margin-left: 10px
}

.xButton{
    property: value !important;
    margin-left: 5px; 
    margin-right: 10px; 
    margin-top: 2.5px;
    margin-bottom: auto;
}

.input:focus,
.inputNumbers:focus {
    outline:none;
}

.searchIcon {
    padding-left: 5px;
}

.ingredient {
    margin-right: 10px;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto; 
}

.diet{
    margin: auto 20px auto 20px;
    font-size: 15px;
}

.nextButton{
    width: 90px;
    height: 60px;
    border-radius: 15px;
    font-size: 16px;
    margin-left: 82%;
    margin-bottom: 5%;
}


.tabGroup {
    width: 200px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    margin-left: 10px;
    height: 45px; 
    clear: both; 
    position: absolute;
    top: -40px;
    /* z-index: 2; */
}

/* .tabs {
    position: relative;
    min-height: 200px; 
    clear: both;
    margin: 25px 0p;
} */

.tab {
    height: 45px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-size: 18px;
    display: inline-block;
    background-color:#FFF5ED;
    border-radius: 10px 10px 0px 0px;
    border: solid 5px #FFC99F;
    border-left: solid 5px #FFC99F;
    border-top: solid 5px #FFC99F;
    border-bottom: solid 3px #FFC99F;
    margin-right: 30px; 
    color: #D37B38;
    white-space: nowrap;
    transition: ease-in-out 0.3s;
    z-index: 1
    /* position: absolute;
    top: -40px; */
}

.tab:hover {
 /* height: 60px; */
 background-color: white;
 color: #793e11;
 border: solid thick #793e11;
 transform: translateY(-15px);
 
}



.tabSelected {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-size: 18px;
    display: inline-block;
    background-color:white;
    border-radius: 10px 10px 0px 0px;
    border-top: solid thick #FFC99F;
    border-right: solid thick #FFC99F;
    border-left: solid thick #FFC99F;
    border-bottom: solid thick white;
    margin-right: 30px; 
    height: 60px;
    color: #D37B38;
    white-space: nowrap;
    position: relative;
    top: -15px;
    transition: 0ms;
    z-index: 3;
}


.checkbox {
    display: flex; 
    flex-direction: row;
    font-family: 'Noto Sans SC', sans-serif;
    color: #D37B38;
    height: 60px; 
    width: auto;
    padding: 5px;
    margin-top: 20px; 
    margin-right: 20px;
    border-radius: 20px;
    border: solid thin #D37B38;
    background-color:white;
    align-items: center;
}

.checkboxRem {
    display: flex; 
    flex-direction: row;
    font-family: 'Noto Sans SC', sans-serif;
    color: #E1C2AB;
    height: 60px; 
    width: auto;
    padding: 5px;
    margin-top: 20px; 
    margin-right: 20px;
    border-radius: 20px;
    border: solid thin #D37B38;
    background-color: white;
    align-items: center;
}

.extras{
    display: flex; 
    flex-direction: row;
    
}

.minMax{
    width: 375px;
    display: flex; 
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inputNumbers {
    border-radius: 20px; 
    height: 50px; 
    width: 80px; 
    padding: 5px; 
    border: solid thin #D37B38;
    background-color: white;
    align-items: center; 
    font-family: 'Noto Sans SC,' sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

.label {
    font-family: 'Noto Sans SC,' sans-serif;
    color: #793e11;
    font-size: 15px;
}

.buttonGroup{
    display: flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skipButton{
    width: 90px;
    height: 40px;
    border-radius: 35px;
    font-size: 14px;
    margin-bottom: 5%;
    color: #c09370;
    border: #c09370;
    box-shadow: none;
}

.skipButton:focus{
    box-shadow: none;
}

/* .skipButton:hover{
    background-color: #c09370;
    border: white;
    color: white;
    box-shadow: none;
} */

.lastButtons{
    display: flex; 
    flex-direction: row;
    font-family: 'Noto Sans SC,' sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: auto;
}