@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import url(//db.onlinewebfonts.com/c/48d96047a170fa740491e4fa6b568c06?family=Le+Havre+Rounded+Regular);

  .navStyle {
    border: solid black 2px;
  }

  .numberResults {
      text-align: center;
      font-family: 'Le Havre Rounded Regular', sans-serif;
      font-style: bold;
      font-size: 30px;
      margin-bottom: 80px;
      color: #b4aba4;
  }

  .firstHeading {
      margin-top: 90px;
      text-align: center;
      font-family: 'Le Havre Rounded Regular', sans-serif;
      font-size: 45px; 
      color: #874716
  }

  .recipeCardContainer{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 4px ;
    background-color: white;
    width: 375px;
    margin: auto;
  }

  .recipeTitle{
    font-size: 25px; 
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFDEC6;
    color: #874716;
    padding: 9px 26px;
    font-family: 'Le Havre Rounded Regular', sans-serif;
  }

  .recipeSummary{
    font-family: 'Noto Sans SC', sans-serif;
    color: #707070;
    font-size: 13px;
    line-height: 18px;
    margin-top: 15px; 
  }

  .recipeTime{
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px; 
    color: #D37B38;
  }

  .resultsContainer{
    text-align: center;
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    background-image: url("../public/images/resultsBackground.svg");
    background-repeat: repeat-y;
    padding-bottom: 150px;
  }

  .recipeFooter{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px; 
  }

  .viewRecipeButton{
    border: none; 
    border-radius: 10px;
    background-color: #332F30;
  }

  .viewRecipeButton a{
    text-decoration: none;
    font-family: 'Noto Sans SC', sans-serif;
    color: #ffffff;
    font-size: 12px;
    padding: 15px 10px;
  }

  .viewRecipeButton a:hover{
    text-decoration: none;
    color: white;
  }

  .navbar {
    border-bottom: 3px solid black !important;

  }